*~
~*
.nfs*
*.swp
.fuse_hidden*
.directory
.Trash-*
*.old

# out/executable files
*.o
*.out
*.exe
output

# vscode files
.vscode

# files and directories named "temp"
temp.*
temp
*.tmp

# Mac
__MACOSX
*.DS_Store
